# Enter your Details Here:

In [ ]:
Num, Name, Week = input("Reg. Number:"), input("Name:"), input("Week:")

Reg. Number:23MCA1003
Name:Harsh Jaiswal
Week:1

### 1.Import the libraries

In [ ]:
import pandas as pd
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

### 2. Import the dataset

In [ ]:
df=pd.read_csv("Week-1.csv")

### 3.Display the dataset information

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df.shape

(614, 13)

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df.Loan_Status.value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

### 4.Drop the unnecessary columns from both `Train` and `Test` datasets

In [ ]:
df = df.drop('Loan_ID', axis=1)

### 5. Handle the misssing data

In [ ]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].median())

In [ ]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
median = df['LoanAmount'].median()
print("Median of LoanAmount: ", median)

Median of LoanAmount:  128.0

### 6. Deal the outliers if exists in the given datasets

In [ ]:
Q1 = df['CoapplicantIncome'].quantile(0.25)
Q3 = df['CoapplicantIncome'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['CoapplicantIncome'] < lower_bound) | (df['CoapplicantIncome'] > upper_bound)]

# Print the outliers
print(outliers)

     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
9      Male     Yes          1      Graduate            No            12841
12     Male     Yes          2      Graduate            No             3073
38     Male      No          0      Graduate            No             4166
122  Female      No          0      Graduate            No             2137
135    Male     Yes         3+      Graduate            No             4000
177    Male     Yes         3+      Graduate            No             5516
180    Male     Yes          1      Graduate            No             6400
253    Male     Yes          1  Not Graduate            No             2661
349    Male     Yes          0      Graduate            No             2625
372    Male     Yes          2      Graduate           Yes             9323
402    Male      No          0      Graduate            No             2500
417    Male     Yes          2      Graduate           Yes             1600
444    Male     Yes          0      Graduate            No             7333
506    Male     Yes          0      Graduate            No            20833
513    Male     Yes          0      Graduate            No             2130
523    Male     Yes          2      Graduate           Yes             7948
581    Male      No          0      Graduate            No             1836
600  Female      No         3+      Graduate           NaN              416

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
9              10968.0       349.0             360.0             1.0
12              8106.0       200.0             360.0             1.0
38              7210.0       184.0             360.0             1.0
122             8980.0       137.0             360.0             0.0
135             7750.0       290.0             360.0             1.0
177            11300.0       495.0             360.0             0.0
180             7250.0       180.0             360.0             0.0
253             7101.0       279.0             180.0             1.0
349             6250.0       187.0             360.0             1.0
372             7873.0       380.0             300.0             1.0
402            20000.0       103.0             360.0             1.0
417            20000.0       239.0             360.0             1.0
444             8333.0       175.0             300.0             NaN
506             6667.0       480.0             360.0             NaN
513             6666.0        70.0             180.0             1.0
523             7166.0       480.0             360.0             1.0
581            33837.0        90.0             360.0             1.0
600            41667.0       350.0             180.0             NaN

    Property_Area Loan_Status
9       Semiurban           N
12          Urban           Y
38          Urban           Y
122     Semiurban           Y
135     Semiurban           N
177     Semiurban           N
180         Urban           N
253     Semiurban           Y
349         Rural           Y
372         Rural           Y
402     Semiurban           Y
417         Urban           N
444         Rural           Y
506         Urban           Y
513     Semiurban           N
523         Rural           Y
581         Urban           N
600         Urban           N

In [ ]:
df.drop(outliers.index)
df.dropna(inplace=True)

### 7. Deal class imbalance property if exists in the given datasets

### 8. Apply feature encoding if required

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Education'] = le.fit_transform(df['Education'])
df['Married'] = le.fit_transform(df['Married'])
df['Dependents'] = le.fit_transform(df['Dependents'])
df['Self_Employed'] = le.fit_transform(df['Self_Employed'])
df['Property_Area'] = le.fit_transform(df['Property_Area'])
df['Loan_Status'] = le.fit_transform(df['Loan_Status'])

In [ ]:
print(df['Gender'])

0      1
1      1
2      1
3      1
4      1
      ..
609    0
610    1
611    1
612    1
613    0
Name: Gender, Length: 499, dtype: int64

In [ ]:
X = df.drop('Loan_Status', axis=1)
y = df['Loan_Status']
# X.dropna(inplace=True)

In [ ]:


# Now you can apply SMOTE
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

In [ ]:
# X.shape
X_new.shape

(682, 11)

In [ ]:
y.shape

(499,)

In [ ]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

### 9. Do Feature Scaling if required

In [ ]:

# import module
from sklearn.preprocessing import MinMaxScaler


# scale features
scaler = MinMaxScaler()
model=scaler.fit(X_res)
X_new=model.transform(X_res)

### 9. Apply dimensionality reduction if required

In [ ]:
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X_new, y_res)
print(fit.scores_)
X_new=test.fit_transform(X_new, y_res)

[14.81025641  4.25017921 34.8508082   5.37060703]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_new,y_res ,
                                   random_state=104,
                                   test_size=0.5,  )

### 10. Train the required model

In [ ]:

from sklearn.linear_model import LogisticRegression


logr = LogisticRegression()
logr.fit(X_train,y_train)

#predict if tumor is cancerous where the size is 3.46mm:
predicted = logr.predict(X_test)
# print(predicted)

### 11. Check the Model Performance()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(predicted,y_test)

0.7683284457478006

### 12. Fine tune the model if required.

### 13. Write Down your inferences.

# For uploading you need to execute the follwing script

In [ ]:
from google.colab import auth
auth.authenticate_user()
import requests
gcloud_token = !gcloud auth print-access-token
gcloud_tokeninfo = requests.get('https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=' + gcloud_token[0]).json()
user = gcloud_tokeninfo['email']
import datetime
dt = datetime.datetime.now()
x = str(dt).split('.')[0]
print(f"This Script is executed by: ",user, "at", x)

This Script is executed by:  harsh.jaiswal2023@vitstudent.ac.in at 2024-01-09 16:29:36